<div class="mt-5">
  <h1>OOF!</h1>
  <h4>V aplikaci došlo k chybě:</h4>

  <code class="fs-1 d-block my-5"><%= @message %></code>

  <hr>
  <p>Prosím, nahlašte mi tuto chybu nahlásit na <a href="https://github.com/jirkavrba/studentsky-portal-fis-vse/issues/new">Githubu</a>.</p>
</div>