<h1>API tokeny</h1>

<%= link_to "Vygenerovat nový API token", new_api_token_url, class: "ui green button" %>

<table class="ui celled table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Klíč</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        <% @tokens.each do |token| %>
          <tr>
            <td><%= token.id %></td>
            <td>
              <code class="fs-6">
                <%= token.value %>
              </code>
            </td>
            <td>
              <%= link_to "Smazat token", api_token_url(token),
                          method: :delete,
                          class: "ui red button",
                          data: {
                            confirm: "Opravdu smazat tento token?"
                          }
              %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>
