<h1>VŠE na Discordu</h1>

<%= link_to discord_verification_url, class: "ui big green right labeled icon button" do %>
  Ověření VŠE účtu
  <i class="check icon"></i>
<% end %>

<h3>Propojené servery</h3>

<div class="ui stackable cards">
  <% @servers.each do |server| %>
    <div class="ui card">
      <div class="image">
        <%= image_tag(server.embed_url) %>
      </div>
      <div class="content">
        <%= link_to server.invite_url, target: '_blank', class: 'ui fluid secondary right labeled icon button' do  %>
          Invite link
          <i class="right arrow icon"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
