<h1>VŠE na Discordu</h1>

<%= link_to discord_verification_url, class: "ui big green right labeled icon button" do %>
  Ověření VŠE účtu
  <i class="right arrow icon"></i>
<% end %>

<h3>Propojené servery</h3>

<div class="ui stackable grid">
  <% @servers.each do |server| %>
    <div class="five wide column">
      <%= link_to image_tag(server.embed_url), server.invite_url, target: '_blank' %>
    </div>
  <% end %>
</div>