<h1>Ověření účtu na fakultním Discord serveru.</h1>

<% if @verification.discord_id.nil? %>

  <h4>Po přečtení pravidel se pak autorizuj následující zprávou v kanálu
    <span class="discord-channel">#verifikace</span></h4>

  <div class="discord-message">
    <div class="discord-message__avatar"></div>
    <div class="discord-message__content">
      <div class="discord-message__username"><%= current_user.display_name %></div>
      <div class="discord-message__text">+verify <%= @verification.code %></div>
    </div>
  </div>
<% else %>
  <div class="mt-5">
    <h4 class="text-success">Účet byl verifikován!</h4>
    <p>
      Pokud se něco pokazilo a nebyla ti přidělena role <span class="discord-role">Verifikovaný student VŠE</span>,
      zkus použít kód znovu nebo pingnout někoho z moderátorů serveru.
    </p>
  </div>


  <h4>
    Pokud by jsi se chtěl validovat i na jiných servech VŠE, kteří jsou na tento systém napojeni,
    pošli následující zprávu do jejich verifikačního kanálu:
  </h4>
  <div class="discord-message">
    <div class="discord-message__avatar"></div>
    <div class="discord-message__content">
      <div class="discord-message__username"><%= current_user.display_name %></div>
      <div class="discord-message__text">+verify <%= @verification.code %></div>
    </div>
  </div>
<% end %>
