<h1>Obnovení hesla na studentském portálu.</h1>

<p>
  Pro váš účet <b><%= @user.display_name %></b> byl vygenerován následující odkaz pro obnovení hesla: <br>
  <br>
  <a href="<%= password_reset_url(code: @user.password_reset_token) %>">
    <code><%= password_reset_url(code: @user.password_reset_token) %></code>
  </a>
  <br>
  Po rozkliknutí vás systém přihlásí a bude možné změnit si heslo v nastavení profilu.
</p>
